In [11]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier

%matplotlib inline

In [12]:
df = pd.read_csv('../data/processed_titanic.csv')
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
X = df[['Pclass', 'Age', 'Fare']]
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y)

model = DummyClassifier(strategy="stratified")

# strategy="stratified" predicts around 0.55 to 0.60 accuracy. Uses class distribution of train data.

In [41]:
y_train.value_counts()

False    415
True     253
Name: Survived, dtype: int64

In [24]:
model.fit(X_train, y_train)

DummyClassifier(strategy='stratified')

In [31]:
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.547085201793722